.result-col-active {
    color: red;
}
.block-head {
    padding: 2rem 0;
}
.info-sup {
    border: 2px solid rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 3px;
}
.info-sup__list {
}

.info-sup__list-item {
    margin-bottom: 10px;
}
.info-sup__list-item > p,
.info-sup__list-item span.title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0px;
    padding-right: 12px;
}

/* page provider */
.provider-form__item {
}

.provider-form__item input,
.provider-form__item select {
    outline: none;
    border: 1px solid #d8d8d8;
    padding: 10px 15px;
    border-radius: 8px;
}

.box-time-licence {
    padding: 12px 10px;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
}
.box-time-item {
    padding-bottom: 12px;
}
#validation-date {
    color: red;
    display: block;
}
.modal-dialog {
    max-width: 600px !important;
}

#info-premises {
    display: none;
}

.btn-link-detail.active {
    color: red;
}

.list-result__box {
    display: flex;
    justify-content: space-between;
}
